/*[TN.NJDC] charger overlay file.start*/
#include <dt-bindings/iio/mt635x-auxadc.h>
#include <dt-bindings/phy/phy.h>

&charger {
	battery_cv = <4530000>;
	max_charger_voltage = <11000000>;
	hvdcp_temp_above_t4_icurrent = <0>;
	hvdcp_temp_t3_to_t4_icurrent = <3600000>;
	hvdcp_temp_t2_to_t3_icurrent = <3600000>;
	hvdcp_temp_t1_to_t2_icurrent = <3600000>;
	hvdcp_temp_t0_to_t1_icurrent = <1000000>;
	hvdcp_temp_below_t0_icurrent = <0>;
	hvdcp_input_current_limit = <3200000>;
	hvdcp_charging_current_limit = <3600000>;
};

&turbo_charger {
	compatible = "tinno,turbo_charger";
	status = "okay";
	gauge = <&mtk_gauge>;

	volt-steps = <20000>; /*uV*/
	curr-steps = <40000>; /*uA*/
	volt-max = <11000000>; /*uV*/
	curr-max = <3000000>; /*uA*/
	batt-curr-boost = <300000>; /*uA*/
	batt-ovp-limit = <4800000>; /*uV*/
	pl-chrg-vbatt-min = <3600000>; /*uV*/
	typec-middle-current = <1500000>; /*uA*/
	step-first-current-comp = <0>;
	not-rerun-aicl;
	temp-zones-num = <6>;
	turbo-chrg-temp-zones = <0  4200 1000 0    0    0    0   >,
				<15 4250 3000 4500 1500 0    0   >,
				<25 4300 5800 4400 5200 4530 4000>,
				<35 4300 5800 4400 5200 4530 4000>,
				<45 4300 5800 4400 5200 4530 4000>,
				<60 4200 3000 0    0    0    0   >;
	thermal-min-level = <1500000>; /*uA*/
	sw-charging-curr-limited = <500000>; /*uA*/
	charging-curr-min = <2000000>; /*uA*/
	turbo-volt-comp = <300000>; /*uV*/
};

&i2c7 {
	clock-frequency = <400000>;
	status = "ok";

	sgm4154x_chg: sgm41543@0B {
		status = "okay";
		compatible = "sgm,sgm41543D";
		reg = <0x0B>;

		io-channels = <&pmic_auxadc AUXADC_VCDT>;
		io-channel-names = "pmic_vbus";
		phys = <&u2port0 PHY_TYPE_USB2>;
		phy-names = "usb2-phy";

		sgm,irq-gpio = <&pio 3 IRQ_TYPE_EDGE_FALLING>;     //irq num base on hardware design
		sgm,chg-en-gpio = <&pio 150 0>;   //gpio num base on hardware design  1.MTK parent node name is pio  2.QUALCOMM parent node name is tlmm or other
	};

	cx2589x_chg: cx2589x@6A {
		status = "okay";
		compatible = "suncore,cx25890h";
		reg = <0x6A>;

		io-channels = <&pmic_auxadc AUXADC_VCDT>;
		io-channel-names = "pmic_vbus";
		phys = <&u2port0 PHY_TYPE_USB2>;
		phy-names = "usb2-phy";

		cx,irq-gpio = <&pio 3 IRQ_TYPE_EDGE_FALLING>;     //irq num base on hardware design
		cx,chg-en-gpio = <&pio 150 0>;   //gpio num base on hardware design  1.MTK parent node name is pio  2.QUALCOMM parent node name is tlmm or other
	};

	husb320@21 {
		status = "okay";
		compatible = "hynetek,husb320";
		reg = <0x21>;
		husb320,int-gpio = <&pio 4 1>;
		husb320,int-gpio_num = <4>;
		husb320,init-mode = <20>;                       /* try sink, DRP */
		husb320,host-current = <2>;                     /* 180uA host current */
		husb320,drp-toggle-time =  <1>;                 /* 70ms */
		husb320,drp-duty-time = <0>;                    /* 60 duty time */
		husb320,autosink-threshold = <1>;               /* 3P1V */
		husb320,cc-debounce-time = <3>;                 /* 150ms */
	};

	usb_type_c_aw35616@60 {
		status = "okay";
		compatible = "awinic,usb_type_c_aw35616";
		reg = <0x60>;
		aw35616,irq-gpio = <&pio 4 0x0>;
		aw35616-tcpc,name = "type_c_port0";
		aw35616-tcpc,role_def = <5>; /* 1: SNK Only, 2: SRC Only, 3: DRP, 4: Try.SRC, 5: Try.SNK */
		aw35616,rp_level = <0>; /* 0: Default, 1: 1.5, 2: 3.0 */
		aw35616-tcpc,notifier_supply_num = <3>; /* the number of notifier supply */
		aw35616_acc_support = <0>; /* 0:support, 1:No support */
		aw35616_toggle_cycle = <0>; /* 0:Disable, 1:40ms, 2:80ms, 3:160ms */
	};
};

&i2c6 {
	clock-frequency = <400000>;
	status = "ok";

	z350@35 {
		compatible = "injoinic,z350";
		reg = <0x35>;
		z350,reset_gpio = <&pio 92 IRQ_TYPE_EDGE_RISING>;
		z350,irq_gpio = <&pio 94 IRQ_TYPE_EDGE_FALLING>;
		z350,qc3-vset-mv = <9000>;
		interrupt-names = "z350_irq";
		status = "okay";
	};

	sc2150-pd@4e{
		compatible = "southchip,sc2150";
		reg = <0x4E>;
		status = "okay";
		sc-tcpc,name = "type_c_port0"; /* tcpc_device's name */
		sc-tcpc,role_def = <5>; /* 0: Unknown, 1: SNK, 2: SRC */
					/* 3: DRP, 4: Try.SRC, 5: Try.SNK */
		sc-tcpc,rp_level = <0>; /* 0: Default, 1: 1.5, 2: 3.0 */
		sc-tcpc,vconn_supply  = <1>;  /* 0: Never, 1: Always, */
					      /* 2: EMarkOnly, 3: StartOnly */
		sc-tcpc,notifier_supply_num = <2>;
		sc2150,intr_gpio_num = <516>;
		pd-data {
			pd,vid = <0x311c>;
			pd,pid = <0x2150>;
			pd,source-cap-ext = /bits/ 8 <0x1c 0x31 0x00 0x66
						      0x00 0x00 0x00 0x00
						      0x00 0x00 0x00 0x00
						      0x00 0x00 0x00 0x00
						      0x00 0x00 0x00 0x00
						      0x00 0x00 0x01 0x02
						      0x00>;
			pd,sink-cap-ext = /bits/ 8 <0x1c 0x31 0x00 0x66
							   0x00 0x00 0x00 0x00
							   0x01 0x00 0x00 0x00
							   0x00 0x00 0x00 0x00
							   0x01 0x00 0x00 0x00
							   0x00 0x00 0x00 0x00>;
			pd,mfrs = "SouthChip";
			/*
			 *	VSAFE5V = 0, MAX_POWER = 1, CUSTOM = 2,
			 *	MAX_POWER_LV = 0x21, MAX_POWER_LVIC = 0x31
			 *	MAX_POWER_HV = 0x41, MAX_POWER_HVIC = 0x51
			 */
			pd,charging_policy= <0x31>;
			/*
			 * Fixed 5V, 500 mA <0x00019032>
			 * Fixed 5V, 1A <0x00019064>
			 * Fixed 5V, 2A <0x000190c8>
			 * Fixed 5V, 3A <0x0001912c>
			 * Fixed 9V, 500 mA <0x0002d032>
			 * Fixed 9V, 1A <0x0002d064>
			 * Fixed 9V, 2A <0x0002d0c8>
			 * Fixed 9V, 3A <0x0002d12c>
			 * Variable 5-9V, 1A <0x8642d064>
			 * Variable 5-9V, 2A <0x8642d0c8>
			 * Variable 5-9V, 3A <0x8642d12c>
			 * PPS 3V~5.9V, 3A <0xC0761E3C>
			 */
			pd,source-pdo-size = <1>;
			/* Fixed 5V,1.5A */
			pd,source-pdo-data = <0x00019096>;
			pd,sink-pdo-size = <1>;
			pd,sink-pdo-data = <0x000190c8>;
			/*0110 1110 0011 0010
			 * No DP, host + device
			 *	pd,id-vdo-size = <6>;
			 *	pd,id-vdo-data = <0xd14029cf 0x0 0x17110000
						  0x61000000 0x0 0x41000000>;
			 * With DP
			 *	pd,id-vdo-size = <6>;
			 *	pd,id-vdo-data = <0xd54029cf 0x0 0x17110000
						  0x61000000 0x0 0x41000000>;
			 */
			pd,id-vdo-size = <6>;
			pd,id-vdo-data = <0xd14029cf 0x0 0x17110000
						  0x61000000 0x0 0x41000000>;
			bat,nr = <1>;
			pd,country_nr = <0>;
			bat-info0 {
				bat,vid = <0x311c>;
				bat,pid = <0x2150>;
				bat,mfrs = "bat1";
				bat,design_cap = <3000>;
			};
		};
		dpm_caps {
			local_dr_power;
			local_dr_data;
			//local_ext_power;
			local_usb_comm;
			//local_usb_suspend;
			//local_high_cap;
			//local_give_back;
			local_no_suspend;
			local_vconn_supply;
			//attempt_discover_cable_dfp;
			//attempt_enter_dp_mode;
			attempt_discover_cable;
			attempt_discover_id;
			attempt_discover_svid;
			/* 0: disable, 1: prefer_snk, 2: prefer_src */
			pr_check = <0>;
			//pr_reject_as_source;
			//pr_reject_as_sink;
			//pr_check_gp_source;
			//pr_check_gp_sink;
			/* 0: disable, 1: prefer_ufp, 2: prefer_dfp */
			dr_check = <0>;
			//dr_reject_as_dfp;
			//dr_reject_as_ufp;
		};
		displayport {
			/* connection type = "both", "ufp_d", "dfp_d" */
			1st_connection = "dfp_d";
			2nd_connection = "dfp_d";
			signal,dp_v13;
			//signal,dp_gen2;
			//usbr20_not_used;
			typec,receptacle;
			ufp_d {
				//pin_assignment,mode_a;
				//pin_assignment,mode_b;
				//pin_assignment,mode_c;
				//pin_assignment,mode_d;
				//pin_assignment,mode_e;
			};
			dfp_d {
				//pin_assignment,mode_a;
				//pin_assignment,mode_b;
				pin_assignment,mode_c;
				pin_assignment,mode_d;
				pin_assignment,mode_e;
				//pin_assignment,mode_f;
			};
		};
	};
};

&i2c5 {
	clock-frequency = <400000>;
	status = "ok";

	cps2011s@6E {
		status = "ok";
		compatible = "CPS,cps2011s";
		reg = <0x6E>;
		chg_name = "primary_dvchg";
		rm_name = "cps2011s";
		cps2011s,intr = <&pio 7 IRQ_TYPE_EDGE_RISING>;
	};
};
/*[TN.NJDC] charger overlay file.end*/
