/*[TN.NJDC] touch overlay file.start*/
&spi2 {
    status = "ok";
    chipone_tddi@0 {
        compatible = "chipone-tddi","novatek,NVT-ts-spi";
        reg = <0>;
        spi-max-frequency = <9600000>;
        interrupt-parent = <&pio>;
        interrupts = <0 IRQ_TYPE_EDGE_FALLING 0 0>;
        chipone,rst-gpio = <&pio 36 0x00>;
        chipone,irq-gpio = <&pio 0 0x00>;
        chipone,x-res = <4320>;
        chipone,y-res = <9600>;

        /*chipone,touch-charger-detect-enable;
        chipone,touch-charger-detect-type = "notify";
        chipone,touch-charger-detect-psy-name = "charger";
        chipone,touch-charger-detect-psp = "POWER_SUPPLY_PROP_ONLINE";
        chipone,touch-charger-detect-psp-poll-interval = <1000>;

        chipone,touch-earjack-detect-enable;

        chipone,touch-earjack-state-filepath = "/sys/bus/platform/drivers/Accdet_Driver/state";
        chipone,touch-earjack-poll-interval = <1000>;*/

        novatek,reset-gpio = <&pio 36 0x00>;
        novatek,irq-gpio =<&pio 0 0x00>;
    };
};

/*[TN.NJDC] touch overlay file.end*/
