/*[TN.NJDC] charger overlay file.start*/
#include <dt-bindings/iio/mt635x-auxadc.h>
#include <dt-bindings/phy/phy.h>

&i2c7 {
	clock-frequency = <400000>;
	status = "ok";

	sgm4154x_chg: sgm41543@0B {
		status = "okay";
		compatible = "sgm,sgm41543D";
		reg = <0x0B>;

		io-channels = <&pmic_auxadc AUXADC_VCDT>;
		io-channel-names = "pmic_vbus";
		phys = <&u2port0 PHY_TYPE_USB2>;
		phy-names = "usb2-phy";

		sgm,irq-gpio = <&pio 3 IRQ_TYPE_EDGE_FALLING>;     //irq num base on hardware design
		sgm,chg-en-gpio = <&pio 150 0>;   //gpio num base on hardware design  1.MTK parent node name is pio  2.QUALCOMM parent node name is tlmm or other
	};

	cx2589x_chg: cx2589x@6A {
		status = "okay";
		compatible = "suncore,cx25890h";
		reg = <0x6A>;

		io-channels = <&pmic_auxadc AUXADC_VCDT>;
		io-channel-names = "pmic_vbus";
		phys = <&u2port0 PHY_TYPE_USB2>;
		phy-names = "usb2-phy";

		cx,irq-gpio = <&pio 3 IRQ_TYPE_EDGE_FALLING>;     //irq num base on hardware design
		cx,chg-en-gpio = <&pio 150 0>;   //gpio num base on hardware design  1.MTK parent node name is pio  2.QUALCOMM parent node name is tlmm or other
	};

	husb320@21 {
		status = "okay";
		compatible = "hynetek,husb320";
		reg = <0x21>;
		husb320,int-gpio = <&pio 4 1>;
		husb320,int-gpio_num = <4>;
		husb320,init-mode = <20>;                       /* try sink, DRP */
		husb320,host-current = <2>;                     /* 180uA host current */
		husb320,drp-toggle-time =  <1>;                 /* 70ms */
		husb320,drp-duty-time = <0>;                    /* 60 duty time */
		husb320,autosink-threshold = <1>;               /* 3P1V */
		husb320,cc-debounce-time = <3>;                 /* 150ms */
	};
};

&i2c6 {
	clock-frequency = <400000>;
	status = "ok";

	z350@35 {
		compatible = "injoinic,z350";
		reg = <0x35>;
		z350,reset_gpio = <&pio 92 IRQ_TYPE_EDGE_RISING>;
		z350,irq_gpio = <&pio 94 IRQ_TYPE_EDGE_FALLING>;
		z350,qc3-vset-mv = <9000>;
		interrupt-names = "z350_irq";
		status = "okay";
	};
};

&i2c5 {
	clock-frequency = <400000>;
	status = "ok";

	cps2011s@6E {
		status = "ok";
		compatible = "CPS,cps2011s";
		reg = <0x6E>;
		chg_name = "primary_dvchg";
		rm_name = "cps2011s";
		cps2011s,intr = <&pio 7 IRQ_TYPE_EDGE_RISING>;
	};
};
/*[TN.NJDC] charger overlay file.end*/
