config OEM_PROJECT
	 bool "Enable oem project config"
	default n
	help
	  enable oem project config.

config PROJECT_LAMU
	bool "oem project lamu"
	default n
	help
	  config oem project name.

config PROJECT_P325A
       bool "oem project p325a"
       default n
       help
          config oem project name.

config OEM_DEVINFO
       tristate "oem_devinfo"
       depends on OEM_PROJECT
       default m
       help
          support oem_devinfo

config OEM_TOUCHSCREEN
	tristate "oem touch"
	depends on PROJECT_P325A
	default m
	help
	  support oem_touch

config OEM_PANEL
	tristate "oem panel"
	depends on PROJECT_P325A
	default m
	help
	  support oem_panel

config OEM_LAMU_TOUCHSCREEN
	tristate "oem touch"
	depends on PROJECT_LAMU
	default m
	help
	  support oem_touch

config OEM_LAMU_FINGERPRINT
	tristate "oem fingerprint"
	depends on PROJECT_LAMU
	default m
	help
	  support oem_touch

config SND_SOC_FS1815
	tristate "oem aduiopa"
	depends on PROJECT_LAMU
	default n
	help
	  support oem aduiopa

config AWINIC_SAR
        tristate "AW Sar sensor"
        depends on OEM_PROJECT
        default m
        help
          support AW Sar sensor

source "$(KCONFIG_EXT_PREFIX)/oem/sensors/Kconfig"

