CONFIG_OEM_PROJECT=y
CONFIG_PROJECT_LAMU=y
CONFIG_MTK_REAR_ALS_HUB=y
CONFIG_MTK_REAR_FLK_HUB=y
CONFIG_MTK_LCM_PHYSICAL_ROTATION="0"
CONFIG_LCM_HEIGHT="2400"
CONFIG_LCM_WIDTH="1080"
CONFIG_DRM_PANEL_BOE_ICNL9922C_VDO=m
CONFIG_DRM_PANEL_TXD_ILI9883C_VDO=m
CONFIG_DRM_PANEL_TM_TD4376_VDO=m
CONFIG_DRM_PANEL_DJN_NT36672S_VDO=m
CONFIG_DRM_PANEL_TIANMA_NT36528A_VDO=m
CONFIG_DRM_PANEL_DIJIN_TD4160_VDO=m
CONFIG_OEM_TINNO_CHARGER=m
CONFIG_OEM_SWITCH_CHARGER=m
CONFIG_OEM_SWITCH_CHARGER_SGM41542=m
CONFIG_OEM_SWITCH_CHARGER_CX2589X=m
CONFIG_OEM_TCPC=m
CONFIG_OEM_TCPC_HUSB320=m
CONFIG_OEM_TCPC_AW35616=m
CONFIG_OEM_TCPC_PD_SC2150=m
CONFIG_SND_SOC_FS1815=m
CONFIG_OEM_QC_LOGIC=m
CONFIG_OEM_QC_LOGIC_Z350=m
CONFIG_OEM_QC_LOGIC_WT6670F=m
CONFIG_OEM_CHARGER_PUMP=m
CONFIG_OEM_CHARGER_PUMP_CPS2011S=m
CONFIG_OEM_TURBO_CHARGER=m
CONFIG_AWINIC_SAR=m
CONFIG_HX9031_SAR=m
CONFIG_OEM_HVDCP_ALGO=m
CONFIG_OEM_ANT_DET=m
