CONFIG_OEM_PROJECT=y
CONFIG_PROJECT_LAMU=y
CONFIG_MTK_LCM_PHYSICAL_ROTATION="0"
CONFIG_LCM_HEIGHT="2400"
CONFIG_LCM_WIDTH="1080"
CONFIG_DRM_PANEL_BOE_ICNL9922C_VDO=m
CONFIG_OEM_TINNO_CHARGER=m
CONFIG_OEM_SWITCH_CHARGER=m
CONFIG_OEM_SWITCH_CHARGER_SGM41542=m
CONFIG_OEM_TCPC=m
CONFIG_OEM_TCPC_HUSB320=m
CONFIG_SND_SOC_FS1815=m
