CONFIG_OEM_PROJECT=y
CONFIG_PROJECT_P325A=y
CONFIG_MTK_LCM_PHYSICAL_ROTATION="0"
CONFIG_LCM_HEIGHT="1612"
CONFIG_LCM_WIDTH="720"
CONFIG_DRM_PANEL_DJIN_FT8057S_VDO=m
CONFIG_OEM_TINNO_CHARGER=m
CONFIG_OEM_SWITCH_CHARGER=m
CONFIG_OEM_SWITCH_CHARGER_SC89890H=m
CONFIG_OEM_SWITCH_CHARGER_SGM41542=m
CONFIG_OEM_TCPC=m
CONFIG_OEM_TCPC_AW35616=m
CONFIG_OEM_TCPC_HUSB320=m
